body{
    background-image: url('background2.jpg');
    background-repeat: no-repeat;
    background-size: 100% 110%;
    min-height: 650px;
}

.status_bar{
    margin-left : 10%;
    margin-top : 5%;
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
    color: white;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    width: 80%;
    text-align: center;
    border-radius: 25px;
}

#id_message{
    width : 80%;
    margin-bottom: 30px;
}

.status_list{
    margin-left : 10%;
    margin-top : 5%;
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
    color: white;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    width: 80%;
    text-align: center;
    border-radius: 25px;
}

table{
    margin-left : 20px;
    margin-right : 20px;
    max-height: 350px;
    display: inline-block;
    overflow-y: auto;
}

table .message{
    width : 90%;
    text-align: left;
}